NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=6ab043c3000e59fe64d7
NEXT_PUBLIC_APPWRITE_DATABASE_ID=6ab14ce0000558baadff
NEXT_PUBLIC_APPWRITE_PRODUCTS_TABLE_ID=6ab14d9700195368d864
NEXT_PUBLIC_APPWRITE_STORAGE_BUCKET_ID=6ab161b800218bb2c2da
NEXT_PUBLIC_WHATSAPP_NUMBER=2348135296095
NEXT_PUBLIC_ADMIN_EMAIL=oluwarotimi0003@gmail.com
NEXT_PUBLIC_SITE_MODE=public
NEXT_PUBLIC_PUBLIC_SITE_URL=https://priscastyling-customer.netlify.app
NEXT_PUBLIC_ADMIN_SITE_URL=https://priscastyling-admin.netlify.app
